In [1]:
## Load text
enc='utf-8'
with open("African_helmeted_turtle.txt","r",encoding=enc) as f:
    book=f.read()
    print(book)

The African helmeted turtle #$%!!! (Pelomedusa subrufa) is a species of side-necked terrapin in the family Pelomedusidae. The species naturally occurs in fresh and stagnant water bodies throughout much of sub-Saharan Africa, and in southern Yemen. It is omnivorous, with its diet consisting mainly of aquatic invertebrates, small fish, and vegetation. It is typically a small turtle, with most individuals being less than 20 centimetres (7.9 inches) in straight carapace length. The female lays two to ten eggs on average, normally during late spring and early summer. The eggs are placed in a flask-shaped nest about 4 to 7 inches (10 to 18 centimetres) deep and hatch in 75 to 90 days. This African helmeted turtle was photographed in Phinda Private Game Reserve, South Africa.

In [2]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [3]:
doc=nlp(book)

In [29]:
## sentence / word tokenization
def spacy_tokenizer(text):
    #token=[sentence for sentence in text.sents]
    return [t.text for t in text]                #.idx is starting posiiton in doc

In [30]:
tokens=spacy_tokenizer(doc)
print("TOKEN:",tokens)

TOKEN: ['The', 'African', 'helmeted', 'turtle', '#', '$', '%', '!', '!', '!', '(', 'Pelomedusa', 'subrufa', ')', 'is', 'a', 'species', 'of', 'side', '-', 'necked', 'terrapin', 'in', 'the', 'family', 'Pelomedusidae', '.', 'The', 'species', 'naturally', 'occurs', 'in', 'fresh', 'and', 'stagnant', 'water', 'bodies', 'throughout', 'much', 'of', 'sub', '-', 'Saharan', 'Africa', ',', 'and', 'in', 'southern', 'Yemen', '.', 'It', 'is', 'omnivorous', ',', 'with', 'its', 'diet', 'consisting', 'mainly', 'of', 'aquatic', 'invertebrates', ',', 'small', 'fish', ',', 'and', 'vegetation', '.', 'It', 'is', 'typically', 'a', 'small', 'turtle', ',', 'with', 'most', 'individuals', 'being', 'less', 'than', '20', 'centimetres', '(', '7.9', 'inches', ')', 'in', 'straight', 'carapace', 'length', '.', 'The', 'female', 'lays', 'two', 'to', 'ten', 'eggs', 'on', 'average', ',', 'normally', 'during', 'late', 'spring', 'and', 'early', 'summer', '.', 'The', 'eggs', 'are', 'placed', 'in', 'a', 'flask', '-', 'shaped', 'nest', 'about', '4', 'to', '7', 'inches', '(', '10', 'to', '18', 'centimetres', ')', 'deep', 'and', 'hatch', 'in', '75', 'to', '90', 'days', '.', 'This', 'African', 'helmeted', 'turtle', 'was', 'photographed', 'in', 'Phinda', 'Private', 'Game', 'Reserve', ',', 'South', 'Africa', '.']

In [28]:
## Token attributes
def spacy_token_attr(token_list):
    import tabulate
    from tabulate import tabulate
    header=['token','token.i','token.is_alpha','token.is_punct','token.like_num']
    data=[(t,t.i,t.is_alpha,t.is_punct,t.like_num) for t in token_list]
    return tabulate(data,headers=header)

In [27]:
print(spacy_token_attr(doc))

The African helmeted turtle #$%!!! (Pelomedusa subrufa) is a species of side-necked terrapin in the family Pelomedusidae. The species naturally occurs in fresh and stagnant water bodies throughout much of sub-Saharan Africa, and in southern Yemen. It is omnivorous, with its diet consisting mainly of aquatic invertebrates, small fish, and vegetation. It is typically a small turtle, with most individuals being less than 20 centimetres (7.9 inches) in straight carapace length. The female lays two to ten eggs on average, normally during late spring and early summer. The eggs are placed in a flask-shaped nest about 4 to 7 inches (10 to 18 centimetres) deep and hatch in 75 to 90 days. This African helmeted turtle was photographed in Phinda Private Game Reserve, South Africa.
token            token.i  token.is_alpha    token.is_punct    token.like_num
-------------  ---------  ----------------  ----------------  ----------------
The                    0  True              False             False
African                1  True              False             False
helmeted               2  True              False             False
turtle                 3  True              False             False
#                      4  False             True              False
$                      5  False             False             False
%                      6  False             True              False
!                      7  False             True              False
!                      8  False             True              False
!                      9  False             True              False
(                     10  False             True              False
Pelomedusa            11  True              False             False
subrufa               12  True              False             False
)                     13  False             True              False
is                    14  True              False             False
a                     15  True              False             False
species               16  True              False             False
of                    17  True              False             False
side                  18  True              False             False
-                     19  False             True              False
necked                20  True              False             False
terrapin              21  True              False             False
in                    22  True              False             False
the                   23  True              False             False
family                24  True              False             False
Pelomedusidae         25  True              False             False
.                     26  False             True              False
The                   27  True              False             False
species               28  True              False             False
naturally             29  True              False             False
occurs                30  True              False             False
in                    31  True              False             False
fresh                 32  True              False             False
and                   33  True              False             False
stagnant              34  True              False             False
water                 35  True              False             False
bodies                36  True              False             False
throughout            37  True              False             False
much                  38  True              False             False
of                    39  True              False             False
sub                   40  True              False             False
-                     41  False             True              False
Saharan               42  True              False             False
Africa                43  True              False             False
,                     44  False             True              False
and                   45  True              False             False
in                    46  True              False             False
southern              47  True              False             False
Yemen                 48  True              False             False
.                     49  False             True              False
It                    50  True              False             False
is                    51  True              False             False
omnivorous            52  True              False             False
,                     53  False             True              False
with                  54  True              False             False
its                   55  True              False             False
diet                  56  True              False             False
consisting            57  True              False             False
mainly                58  True              False             False
of                    59  True              False             False
aquatic               60  True              False             False
invertebrates         61  True              False             False
,                     62  False             True              False
small                 63  True              False             False
fish                  64  True              False             False
,                     65  False             True              False
and                   66  True              False             False
vegetation            67  True              False             False
.                     68  False             True              False
It                    69  True              False             False
is                    70  True              False             False
typically             71  True              False             False
a                     72  True              False             False
small                 73  True              False             False
turtle                74  True              False             False
,                     75  False             True              False
with                  76  True              False             False
most                  77  True              False             False
individuals           78  True              False             False
being                 79  True              False             False
less                  80  True              False             False
than                  81  True              False             False
20                    82  False             False             True
centimetres           83  True              False             False
(                     84  False             True              False
7.9                   85  False             False             True
inches                86  True              False             False
)                     87  False             True              False
in                    88  True              False             False
straight              89  True              False             False
carapace              90  True              False             False
length                91  True              False             False
.                     92  False             True              False
The                   93  True              False             False
female                94  True              False             False
lays                  95  True              False             False
two                   96  True              False             True
to                    97  True              False             False
ten                   98  True              False             True
eggs                  99  True              False             False
on                   100  True              False             False
average              101  True              False             False
,                    102  False             True              False
normally             103  True              False             False
during               104  True              False             False
late                 105  True              False             False
spring               106  True              False             False
and                  107  True              False             False
early                108  True              False             False
summer               109  True              False             False
.                    110  False             True              False
The                  111  True              False             False
eggs                 112  True              False             False
are                  113  True              False             False
placed               114  True              False             False
in                   115  True              False             False
a                    116  True              False             False
flask                117  True              False             False
-                    118  False             True              False
shaped               119  True              False             False
nest                 120  True              False             False
about                121  True              False             False
4                    122  False             False             True
to                   123  True              False             False
7                    124  False             False             True
inches               125  True              False             False
(                    126  False             True              False
10                   127  False             False             True
to                   128  True              False             False
18                   129  False             False             True
centimetres          130  True              False             False
)                    131  False             True              False
deep                 132  True              False             False
and                  133  True              False             False
hatch                134  True              False             False
in                   135  True              False             False
75                   136  False             False             True
to                   137  True              False             False
90                   138  False             False             True
days                 139  True              False             False
.                    140  False             True              False
This                 141  True              False             False
African              142  True              False             False
helmeted             143  True              False             False
turtle               144  True              False             False
was                  145  True              False             False
photographed         146  True              False             False
in                   147  True              False             False
Phinda               148  True              False             False
Private              149  True              False             False
Game                 150  True              False             False
Reserve              151  True              False             False
,                    152  False             True              False
South                153  True              False             False
Africa               154  True              False             False
.                    155  False             True              False