In [4]:
## In single quotes or double quotes

print ("Hello World")
print ('hello world')
print (len('hello world'))
print ("")
print ("doesn't")
print ('doesn\'t')

Hello World
hello world
11

doesn't
doesn't

In [56]:
## Use raw strings

print ('c:\newyork')           #treats \n as new line character
print ("c:\newyork")
print (r'c:\newyork')

c:
ewyork
c:
ewyork
c:\newyork

In [21]:
## Operations + *

print ("new" + "york")
print ("new" * 4)

newyork
newnewnewnew

In [2]:
## Assignment & Indexing and Slicing
## string[start : end : step]

word='NewYork'                       # assign string
print ('1-',word[0])
print ('2-',word[5])
print ('3-',word[-1])
print ('4-',word[-4])
print ('5-',word[1:])
print ('6-',word[:3])
print ('7-',word[:-1])
print ('8-',word[2::])              # [start:stop (but not including):step(optional)]
print ('8a-',word[2:])
print ('9-',word[2:5:])
print ('10-',word[::2])              # extract everything in steps of 2
print ('11-',word[::-1])             # print string backwards
print ('12-',word[1:5:3])
print ('13-',word[:0])

1- N
2- r
3- k
4- Y
5- ewYork
6- New
7- NewYor
8- wYork
8a- wYork
9- wYo
10- Nwok
11- kroYweN
12- eo
13-

In [2]:
## Embed text in python

print ('''\
This is Python text\
''')

This is Python text

In [3]:
## Strings are immutable, cannot be changed

word = "Hello World"

word[0] = 'd'
print (word)                  # string cannot be changed

TypeError: 'str' object does not support item assignment

In [4]:
## METHODS

word = "New york"
wordp = " New York "
worda = "Newyork"
wordd="1234"

print ("1 ",word.upper())
print ("2 ",word.lower())
print ("3 ",word.split())                 # split at whitespace
print ("4 ",word.split('o'))
print ("5 ",word.capitalize())            # first word of sentence capital
print ("6 ",word.title())                 # every word capital
print ("7 ",wordp.strip())                 #strips extra spaces
print ("8 ",word.endswith("rk"))
print ("9 ",word.find("y"))
print ("10",worda.isalpha())
print ("11",wordd.isdigit())
print ("12",wordd.isnumeric())
print ("11",word.isalnum())                     # Returns True if all characters in the string are alphanumeric

1  NEW YORK
2  new york
3  ['New', 'york']
4  ['New y', 'rk']
5  New york
6  New York
7  New York
8  True
9  4
10 True
11 True
12 True
11 False

In [5]:
##### PRINT FORMATTING

## (1) %s %r %d - s is string, r is string representation, d is integers

x="cold"
y="\tcloudy"
z=75.74
print ("New York is %s and %s and the temperature is %s" %(x,y,z))
print ("New York is %s and %r and the temperature is %d" %(x,y,z))

# %(a.b)f floating point number - a=min number of char padded with whitespace; b=decimals
n=13.7865
print ('%20.3f' %n)

New York is cold and 	cloudy and the temperature is 75.74
New York is cold and '\tcloudy' and the temperature is 75
              13.787

In [18]:
## PRINT FORMATTING

## (2) .format method

print ('{1} is {0}'.format('cold','NewYork'))

# alignment (default: string=left-align, numbers=right-align)

print ('1')
print('{0:10} | {1:10}'.format('String', 'Number'))
print('{0:10} | {1:10}'.format('NewYork', 30))

# alignment operators <left ^centre >right
print ('2')
print('{0:10} | {1:>10}'.format('String', 'Number'))
print('{0:10} | {1:10}'.format('NewYork', 30))

# alignment padding
print ('3')
print('{0:#>10} | {1:#>10}'.format('String', 'Number'))
print('{0:<10} | {1:#>10}'.format('NewYork', 30))

NewYork is cold
1
String     | Number
NewYork    |         30
2
String     |     Number
NewYork    |         30
3
####String | ####Number
NewYork    | ########30

In [17]:
## PRINT FORMATTING

# (3)   f-string
city="NewYork"
weather="cold"

print (f'{city} is {weather}')

NewYork is cold

In [6]:
#27. Write a Python program that concatenates all elements in a list into a string and returns it.
def conc(lst):
    str1=""
    for i in lst:
        str1+=str(i)
    return str1

print(conc([1,32,23]))

13223