<h3 style="color:blue" align="left">Lists</h3>

#### Lists are mutable, ordered and changeable. Allows duplicate members.

#### Operations

In [1]:
my_list = ['NewYork', 'Chicago', 'SanJose']

print ("2-",len(my_list))
print ("3-",my_list[1])
print ("4-",my_list[:1])               # upto ane excluding index 1
print ("5-",my_list[1:])               # from and including index 1

my_list = my_list + ['Denver']
print ("6-",my_list)

2- 3
3- Chicago
4- ['NewYork']
5- ['Chicago', 'SanJose']
6- ['NewYork', 'Chicago', 'SanJose', 'Denver']

#### Iterable

In [2]:
for index,item in enumerate(my_list):
    print(f"{index}-{item}")

for x in my_list:
    print(x)

for x in range(len(my_list)):
    print(x)

0-NewYork
1-Chicago
2-SanJose
3-Denver
NewYork
Chicago
SanJose
Denver
0
1
2
3

#### Methods

In [3]:
print ("1-",my_list)

my_list.append('Houston')
print ("2-",my_list)

print("3-",my_list.index('Houston'))

print ("4-",my_list)

my_list.__setitem__(1,'Seattle')                  # assigns a value to the key
print ("5-",my_list)

my_list[0]='Memphis'
print ("6-",my_list)

my_list.pop(2)
print ("7-",my_list)

my_list.sort()
print ("8-",my_list)

my_list.sort(reverse=True)
print ("9a-",my_list)

my_list.reverse()
print ("9-",my_list)

print ("10-",', '.join(my_list))

your_list=my_list.copy()
print("10a-",your_list)

my_list.extend('Dallas')                         # Add the elements of a list (or any iterable), to the end of the current list
print ("2a-",my_list)

my_list.insert(1,'Galveston')
print ("2b-",my_list)

my_list=your_list.copy()
print(my_list)

1- ['NewYork', 'Chicago', 'SanJose', 'Denver']
2- ['NewYork', 'Chicago', 'SanJose', 'Denver', 'Houston']
3- 4
4- ['NewYork', 'Chicago', 'SanJose', 'Denver', 'Houston']
5- ['NewYork', 'Seattle', 'SanJose', 'Denver', 'Houston']
6- ['Memphis', 'Seattle', 'SanJose', 'Denver', 'Houston']
7- ['Memphis', 'Seattle', 'Denver', 'Houston']
8- ['Denver', 'Houston', 'Memphis', 'Seattle']
9a- ['Seattle', 'Memphis', 'Houston', 'Denver']
9- ['Denver', 'Houston', 'Memphis', 'Seattle']
10- Denver, Houston, Memphis, Seattle
10a- ['Denver', 'Houston', 'Memphis', 'Seattle']
2a- ['Denver', 'Houston', 'Memphis', 'Seattle', 'D', 'a', 'l', 'l', 'a', 's']
2b- ['Denver', 'Galveston', 'Houston', 'Memphis', 'Seattle', 'D', 'a', 'l', 'l', 'a', 's']
['Denver', 'Houston', 'Memphis', 'Seattle']

#### Nested Lists

In [4]:
my_list_1 = ['NewYork', 'Houston', 'Denver', 'Chicago']
my_list_2 = ['Delhi', 'Mumbai', 'Chennai']
my_list_3 = ['Sydney', 'Brisbane', 'Melbourne']

new_list = [my_list_1,my_list_2,my_list_3]
print ("1-",new_list)
print ("2-",new_list[1])
print ("3-",new_list[1][0])

1- [['NewYork', 'Houston', 'Denver', 'Chicago'], ['Delhi', 'Mumbai', 'Chennai'], ['Sydney', 'Brisbane', 'Melbourne']]
2- ['Delhi', 'Mumbai', 'Chennai']
3- Delhi

#### Write a Python program that concatenates all elements in a list into a string and returns it.

In [2]:
def conc(lst):
    str1=""
    for i in lst:
        str1+=str(i)
    return str1

print(conc([1,32,23]))

13223

#### ZIP 2 lists

In [7]:
a=[1,2,3,4,5]
b=[10,20,30,40]

print(list(zip(a,b)))

[(1, 10), (2, 20), (3, 30), (4, 40)]