<h3 align="left" style="color:blue">Dictionaries</h3>

#### Create new dictionary

##### my_dict = {'key1':'value1','key2':'value2'}

In [9]:
d=dict()
print(d)

d={'USA':['NewYork', 'Houston', 'Denver', 'Chicago'], 'India':['Delhi', 'Mumbai', 'Chennai'], 'Australia':['Sydney', 'Brisbane', 'Melbourne']}
print('1-',my_cities['Australia'])

print('2-',my_cities.keys())
print('3-',my_cities.values())
print('4-',my_cities.items())

## CREATE new dictionary from string

from collections import Counter
x="PythonDictionary"
print(dict(Counter(x)))

## Create new Dictionary where value = square of key

n=10
m={i:i*i for i in range(1,n+1)}
print(m)

## COPY a Dictionary

e=d
print('copied-',e)

# ALTERNATIVE

f=dict(d)
print('copied-',f)

{}

NameError: name 'my_cities' is not defined

#### Methods

In [10]:
d={'USA':['NewYork', 'Houston', 'Denver', 'Chicago'], 'India':['Delhi', 'Mumbai', 'Chennai'], 'Australia':['Sydney', 'Brisbane', 'Melbourne']}

#ADD===========
d['NewZealand'] = ['Auckland','Wellington']
print ('add-',d)

#REMOVE========
d.pop('India')
print("remove-",d)

# ACCESS==========
print('access-',d['USA'])
print('access-',d.get('Australia'))

#REMOVE last added item
d.popitem()
print("remove last item-",d)

del d['USA']
print("del USA-",d)

#Change
d['USA']=['NewYork', 'Houston', 'Denver', 'Chicago']
print("change-",d)

#set default if key does not exist
print(d.setdefault('India','NA'))

#set default adds the k,v combination
print("default-",d)

#Insert item
d.update([('USA',['NewYork','Chicago'])])
print("insert-",d)

#CLEAR or EMPTY
d.clear()
print("clear-",d)

del d
print("del-",d)

add- {'USA': ['NewYork', 'Houston', 'Denver', 'Chicago'], 'India': ['Delhi', 'Mumbai', 'Chennai'], 'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'NewZealand': ['Auckland', 'Wellington']}
remove- {'USA': ['NewYork', 'Houston', 'Denver', 'Chicago'], 'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'NewZealand': ['Auckland', 'Wellington']}
access- ['NewYork', 'Houston', 'Denver', 'Chicago']
access- ['Sydney', 'Brisbane', 'Melbourne']
remove last item- {'USA': ['NewYork', 'Houston', 'Denver', 'Chicago'], 'Australia': ['Sydney', 'Brisbane', 'Melbourne']}
del USA- {'Australia': ['Sydney', 'Brisbane', 'Melbourne']}
change- {'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'USA': ['NewYork', 'Houston', 'Denver', 'Chicago']}
NA
default- {'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'USA': ['NewYork', 'Houston', 'Denver', 'Chicago'], 'India': 'NA'}
insert- {'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'USA': ['NewYork', 'Chicago'], 'India': 'NA'}
clear- {}

#### fromkeys()

In [11]:
x = ('key1', 'key2', 'key3')
y = (0,1,2)
z = 0

thisdict = dict.fromkeys(x, y)
thatdict = dict.fromkeys(x, z)

print(thisdict)
print(thatdict)

{'key1': (0, 1, 2), 'key2': (0, 1, 2), 'key3': (0, 1, 2)}
{'key1': 0, 'key2': 0, 'key3': 0}

#### LOOP through a dictionary

In [30]:
#values
d={'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'USA': ['NewYork', 'Chicago'], 'India': 'NA'}
print('d-',d)

for x in d:
    print("values",d[x])

#values
for x in d.values():
    print("values1:",x)

    
#keys
for x in d:
    print("keys",x)
    
for x in d.keys():
    print("keys1",x)

#items
for k,v in d.items():
    print(k,":",v)

d- {'Australia': ['Sydney', 'Brisbane', 'Melbourne'], 'USA': ['NewYork', 'Chicago'], 'India': 'NA'}
values ['Sydney', 'Brisbane', 'Melbourne']
values ['NewYork', 'Chicago']
values NA
values1: ['Sydney', 'Brisbane', 'Melbourne']
values1: ['NewYork', 'Chicago']
values1: NA
keys Australia
keys USA
keys India
keys1 Australia
keys1 USA
keys1 India
Australia : ['Sydney', 'Brisbane', 'Melbourne']
USA : ['NewYork', 'Chicago']
India : NA

#### Check if key exists

In [15]:
n='France'
if n in d:
    print("exists")
else:
    print("does not exist")

does not exist

#### Max, min, sum, len, multiply value in a dictionary

In [29]:
d = {1: 20, 3: 40, 4: 30, 2: 10, 0: 0}
print(max(d.keys()),min(d.keys()))

print('sum',sum(d.values()))
print('max',max(d.values()))
print('min',min(d.values()))

x=1
for i in d.values():
    x=x*i
print('multiply',x)

4 0
sum 100
max 40
min 0
multiply 0

#### Nesting Dictionary

##### d = {'key1':{'nestkey':{'subnestkey':'valueX'}}}
##### d['key1']['nestkey']['subnestkey']

In [31]:
x={1: 2, 3: 4}
y={4: 3, 2: 1}
z={0:0, 21:22}
xyz={"x":x,"y":y,"z":z}
print(xyz)

{'x': {1: 2, 3: 4}, 'y': {4: 3, 2: 1}, 'z': {0: 0, 21: 22}}

#### Concatenate Dictionaries

In [52]:
d=dict()

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

for i in (dic1, dic2, dic3):
    d.update(i)
print(d)

#ALTERNATE>>
d1={**dic1,**dic2,**dic3}
print(d1)

# ALTERNATE
from collections import Counter
d2=Counter(dic1)+Counter(dic2)+Counter(dic3)
print(d2)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Counter({6: 60, 5: 50, 4: 40, 3: 30, 2: 20, 1: 10})

#### Sorting dictionaries

In [50]:
#### Sort by value
d = {1: 20, 3: 40, 4: 30, 2: 10, 0: 50}
print("value, asc",{k:v for k,v in sorted(d.items(), key=lambda item: item[1])})

print("value, asc",sorted(d.items(), key=lambda item: item[1]))

import operator
sorted_d=dict(sorted(d.items(), key=operator.itemgetter(1)))
print("value, asc",sorted_d)

print("value, asc",dict(sorted(d.items(), key=lambda item: item[1])))

print("value, desc",dict(sorted(d.items(), key=lambda item: item[1], reverse=True)))

#### Sort by key
print("key, asc",dict(sorted(d.items())))

print("key, desc",dict(sorted(d.items(), reverse=True)))

#### Top 3 values in dictionary
import operator
m=dict(sorted(d.items(), key=operator.itemgetter(1),reverse=True)[:3])
for x in m.values():
    print("top 3 values",x)

#### Enumerate
for k,v in enumerate(d.items(),6):
    print(k,v)

value, asc {2: 10, 1: 20, 4: 30, 3: 40, 0: 50}
value, asc [(2, 10), (1, 20), (4, 30), (3, 40), (0, 50)]
value, asc {2: 10, 1: 20, 4: 30, 3: 40, 0: 50}
value, asc {2: 10, 1: 20, 4: 30, 3: 40, 0: 50}
value, desc {0: 50, 3: 40, 4: 30, 1: 20, 2: 10}
key, asc {0: 50, 1: 20, 2: 10, 3: 40, 4: 30}
key, desc {4: 30, 3: 40, 2: 10, 1: 20, 0: 50}
top 3 values 50
top 3 values 40
top 3 values 30
6 (1, 20)
7 (3, 40)
8 (4, 30)
9 (2, 10)
10 (0, 50)

#### Map dictionaries using zip

In [25]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']

d1 = {k: v for k, v in zip(keys, values)}
print(d1)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

#### Check if dictionary is EMPTY

In [44]:
d={}
if not d:
    print("empty")

empty

#### List all unique values in dictionary

In [45]:
foobar = {320: 167, 316: 0, 319: 167, 401: 167, 319: 168, 380: 167, 265: 166}
print(list(set(foobar.values())))

[0, 166, 168, 167]

#### Match key values in two dictionaries

In [51]:
a={'key1': 1, 'key2': 3, 'key3': 2}
b={'key1': 1, 'key2': 2}

c=set(a.items()).intersection(set(b.items()))
print(c)

{('key1', 1)}