In [ ]:
## TUPLES

In [ ]:
## Tuples are immutable. Should be used for lists with data integrity e.g calendars
## Tuples are ordered, unchanged and allow duplicate values

In [32]:
## CREATE TUPLES

my_tuple=(1,2,3,"apple",True,True)
print (my_tuple)
print (len(my_tuple))
print (my_tuple[1])

my_tuple1=tuple((1,2,3))
print(sum(my_tuple1))

print(my_tuple[3])
print(my_tuple[-1])
print(my_tuple[2:4])
print(my_tuple[-3:-1])

if "apple" in my_tuple:
    print("yes")

#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
your_tuple=("apple",)
print(type(your_tuple))
your_tuple=("apple")
print(type(your_tuple))

(1, 2, 3, 'apple', True, True)
6
2
6
apple
True
(3, 'apple')
('apple', True)
yes
<class 'tuple'>
<class 'str'>

In [38]:
## METHODS

print (my_tuple.index(3))
print (my_tuple.count(3))

# Change / append / remove tuple values. Change tuple to list, update, convert to tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

#  Add tuple to tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

del thistuple
print(thistuple)

2
1
('apple', 'kiwi', 'cherry')
('apple', 'banana', 'cherry', 'orange')

NameError: name 'thistuple' is not defined

In [82]:
## TUPLE UNPACKING
#1  Take a two-item tuple (1,2) and unpack that tuple it into two variables (x,y)
a=(1,2)
print(a[0],a[1])             # we could use index

(x,y)=a                      # OR we could unpack a tuple using variable
print(x,y)

#  Swap value of tuple
y,x=x,y
print(x,y)

#  If the number of variables is less than the number of contents inside our Tuple,
#  we can add a * to the variable name and the values will be assigned to the variable as a list
#  While using this method, add the * operator to a single variable only
a=(1,2,3,4)
(x,*y,z)=a
print(x,y,z)
(x,y,*z)=a
print(x,y,z)
(*x,y,z)=a
print(x,y,z)

1 2
1 2
2 1
1 [2, 3] 4
1 2 [3, 4]
[1, 2] 3 4
ducks 2
lamps 3
chairs 0

In [13]:
my_list=["New York", "Chicago", "Seattle"]
list(enumerate(my_list))

[(0, 'New York'), (1, 'Chicago'), (2, 'Seattle')]