In [ ]:
## SETS

In [ ]:
## Sets are an unordered collection of unique elements
## Set items are unordered, unchangeable, unindexed and do not allow duplicate values
## The values True and 1 are considered the same value in sets, and are treated as duplicates
## The values False and 0 are considered the same value in sets, and are treated as duplicates

In [4]:
my_list = [1,2,3,4,3,4,5,6,1,2,True]
print (set(my_list))
print(sum(my_list))

my_set=set((11,12,13,14))                  # double brackets to create a set
print(my_set)

fs=frozenset(my_list)
print(fs)

fs.add(11)

{1, 2, 3, 4, 5, 6}
32
{11, 12, 13, 14}
frozenset({1, 2, 3, 4, 5, 6})

AttributeError: 'frozenset' object has no attribute 'add'

In [2]:
#29. Write a Python program that prints out all colors from color_list_1 that are not present in color_list_2.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print("\nDifference of color_list_1 and color_list_2:")
print(color_list_1.difference(color_list_2))

print("\nDifference of color_list_2 and color_list_1:")
print(color_list_2.difference(color_list_1))

Difference of color_list_1 and color_list_2:
{'White', 'Black'}

Difference of color_list_2 and color_list_1:
{'Green'}

In [63]:
## METHODS

#  Access a set
s = {"apple", "banana", "cherry"}
print("banana" in s)

#  Add item to set
s.add("blueberry")
print("add item",s)

#  Merge two sets
t = {"pineapple", "mango", "papaya"}
s.update(t)
print("merge",s)
p=["kiwi","pear"]
s.update(p)
print("merge_list",s)

#  Delete set item
s.discard("papaya")                      # does not raise error if item does not exist
#s.remove("papaya")                      # raises error if item does not exist    
print("discard",s)

True
add item {'apple', 'blueberry', 'cherry', 'banana'}
merge {'apple', 'blueberry', 'papaya', 'cherry', 'pineapple', 'mango', 'banana'}
merge_list {'pear', 'kiwi', 'mango', 'banana', 'apple', 'blueberry', 'cherry', 'papaya', 'pineapple'}
discard {'pear', 'kiwi', 'mango', 'banana', 'apple', 'blueberry', 'cherry', 'pineapple'}

In [65]:
## METHODS

#  symmetric_difference()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print("symmetric_difference",set3)
set4=set1^set2
print("symmetric_difference",set4)

#  symmetric_difference_update()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print("symmetric_difference",set1)
set1^set2
print(set1)

symmetric_difference {'microsoft', 'google', 'cherry', 'banana'}
symmetric_difference {'microsoft', 'google', 'cherry', 'banana'}
symmetric_difference {'microsoft', 'cherry', 'google', 'banana'}
{'microsoft', 'cherry', 'google', 'banana'}

In [67]:
## METHODS

#  Difference()                             # return a new set that will contain only the items from the first set that are not present in the other set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print("difference",set3)
set4=set1-set2
print("difference",set4)

#  difference_update()                              keep the items from the first set that are not in the other set, 
#                                                 but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print("difference_update",set1)

difference {'cherry', 'banana'}
difference {'cherry', 'banana'}
difference_update {'cherry', 'banana'}

In [69]:
## METHODS

#  Intersection()                               # will return a new set, that only contains the items that are present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
set4=set1&set2
print("intersection",set3)
print("intersection",set4)

#  Intersection_update()                       # keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print("intersection_update",set1)

intersection {'apple'}
intersection {'apple'}
intersection_update {'apple'}

In [71]:
## METHODS

#  Union()
set1 = {"a", "b", "c"}
set2 = (1, 2, 3)
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)              
print(myset)
myset2=set1 | set3 | set4                # cannot be used for non-set union
print("Union",myset2)

#  Update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)                        # updates original set, not create new set
print("Update",set1)

{'apple', 1, 2, 3, 'cherry', 'b', 'Elena', 'John', 'bananas', 'a', 'c'}
Union {'apple', 'John', 'cherry', 'b', 'bananas', 'Elena', 'a', 'c'}
Update {1, 2, 3, 'b', 'a', 'c'}