In [11]:
#x=[]
x=input("name: ")
print(x[1:2])x=1,2,3

name:  rajesh shanbhag

[]

In [25]:
x="rajesh"
y=x.split(" ")
print(y)

['rajesh']

In [29]:
def Convert(string):
    list1 = []
    print(list1)
    list1[:0] = string
    return list1


# Driver code
str1 = "ABCD"
print(Convert(str1))

[]
['A', 'B', 'C', 'D']

In [37]:
# Prompt the user to input a sequence of comma-separated numbers and store it in the 'values' variable
values = input("Input some comma-separated numbers: ")

# Split the 'values' string into a list using commas as separators and store it in the 'list' variable
list1 = list(values)

print('List : ', list1)

Input some comma-separated numbers:  1,2,3

AttributeError: type object 'list' has no attribute 'strip'